@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
body {
	margin: 0;
	font-family: "Quicksand", sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	overflow: hidden;
	position: relative;
}
.MuiTableCell-root,
.MuiTypography-body1 {
	font-family: "Quicksand", sans-serif !important;
}
code {
	font-family: "Quicksand", sans-serif !important;
	color: rgba(255, 0, 221, 0.863);
	font-size: 16px;
	// color: rgba(255, 162, 0, 0.842);
}
